@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1920px;
        margin: auto;
    }
}
@font-face {
    font-family: "Ailerons";
    src: url("/fonts/Ailerons-Regular.otf") format("opentype");
}

#navbar_top {
    padding: 0 135px;
    margin-top: 61px;
}

.navbar-light .navbar-nav .nav-link {
    color: #00224f !important;
    padding: 0 calc(61px / 2);
    font-family: "Barlow";
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.navbar-light .navbar-nav .nav-link:last-child {
    padding-right: 0;
}
.heading {
    margin-top: 214px;
    padding: 0 135px;
}

.heading .row .col-6:nth-child(2) {
    background-color: #00224f;
}

.heading h1 {
    margin-left: 160px;
    margin-top: 97px;
    color: #fff;
    font-size: 62px;
    line-height: 74px;
    font-family: "Ailerons";
    margin-bottom: 102px;
}

.sub_title {
    color: #00224f;
    font-family: "Public Sans";
    font-size: 24px;
    line-height: 28px;
    max-width: 536px;
    margin-left: 160px;
    margin-top: 86px;
}

.no_bg {
    background-color: transparent !important;
    padding-bottom: 169px;
}

.heading .o {
    left: -14%;
    bottom: -24%;
}

.part_2 {
    background: url("/images/StockSnap_164D44F72 5.png");
    padding-top: 198px;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter {
    background-color: #0000002a;
}

.part_2 h2 {
    color: #fff;
    font-family: "Ailerons";
    font-size: 62px;
    margin-bottom: 51px;
}
.part_2 h3 {
    color: #fff;
    font-family: "Public Sans";
    font-size: 24px;
    max-width: 417px;
}
.part_2 .row {
    padding: 0 385px 0 416px;
}
.part_2 .separator {
    display: block;
    height: 470px;
}

.pad_left {
    padding-left: 100px;
}

#navbar_top {
    transition: all 0.4s ease-in;
}

.bg-black {
    background: #00224f !important;
    margin-top: 0 !important;
    transition: all 0.4s ease;
}
.bg-black #logo,
.bg-black .navbar-toggler {
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(110deg)
        brightness(117%) contrast(100%);
    transition: all 0.5s ease-in;
}

.bg-black#navbar_top .nav-link {
    color: #fff !important;
}
.part_3 {
    background-image: url("/images/3.png");
    background-size: cover;
    padding-top: 173px;
    padding-left: 135px;
    padding-right: 135px;
    overflow: hidden;
    padding-bottom: 120px;
    background-position: center;
}
.part_3 h2 {
    font-size: 62px;
    line-height: 74px;
    color: #fff;
    font-family: "Ailerons";
}
.part_3 .col-4 p {
    font-family: "Public Sans";
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-top: 58px;
    font-weight: 400;
}
.part_3 .col-4 {
    position: relative;
}
.part_3 .number.one {
    position: absolute;
    right: 3%;
    font-size: 206px;
    color: #fff;
    letter-spacing: -40px;
    top: -25%;
    font-family: "Ailerons";
}
.part_3 .number.two {
    position: absolute;
    left: -7%;
    font-size: 206px;
    color: #fff;
    letter-spacing: -40px;
    top: -30%;
    font-family: "Ailerons";
}
.part_3 img {
    width: 93%;
}
.part_3 .two {
    margin-left: auto;
}
.part_3 .one {
    margin-right: auto;
}
.part_3 .col-8 h3 {
    color: #fff;
    font-family: "Ailerons";
    font-size: 40px;
    line-height: 70px;
}
.part_3 .col-8 .col-4 p {
    font-family: "Public Sans";
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-top: 0;
    font-weight: 400;
}
.mt-34 {
    margin-top: 34px;
}
.contac h3 {
    color: #fff;
    font-size: 62px;
    line-height: 74px;
    font-family: "Ailerons";
    margin-top: 50px;
}
.contac p {
    font-size: 24px !important;
    color: #00224f !important;
    max-width: 479px;
    margin-top: 31px !important;
}
.contac .social {
    margin-top: 31.5px;
    display: flex;
    max-width: 403.15px;
    justify-content: space-between;
}
.r2 {
    margin-top: 150px;
}
.part_4 {
    padding-left: 135px;
    padding-right: 135px;
    background: url("/images/oo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.to_t {
    position: relative;
    top: -30px;
}
.t_ {
    padding-top: 66px;
}
.t_ h2 {
    font-size: 62px;
    font-family: "Ailerons";
    line-height: 74px;
    color: #00224f;
}
.t_ p {
    font-family: "Public Sans";
    color: #00224f;
    font-size: 24px;
    line-height: 28px;
}
.top_ {
    margin-top: 62px;
}
.top_ p {
    font-size: 20px;
    line-height: 24px;
}
.b_o {
    position: absolute;
    right: -6%;
    bottom: -31%;
    z-index: 2;
}
.number.three {
    position: absolute;
    bottom: 0%;
    font-size: 206px;
    color: #f36f23;
    letter-spacing: -40px;
    right: -8%;
    font-family: "Ailerons";
}

.number.four {
    position: absolute;
    top: -42%;
    font-size: 206px;
    color: #f36f23;
    letter-spacing: -40px;
    right: 5%;
    font-family: "Ailerons";
}
.con-7 {
    max-width: 754.24px;
}
.tt_ {
    margin-top: 200px;
}
.t_.no_ {
    margin-top: 0;
    padding-top: 0;
}
.part_4 {
    padding-bottom: 95px;
}
.part_5 {
    background-color: #00224f;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 109px;
    padding-bottom: 140px;
    overflow-x: clip;
}
.part_5 h2 {
    font-size: 62px;
    line-height: 74px;
    color: #f36f23;
    font-family: "Ailerons";
}
.part_5 p {
    font-family: "Public Sans";
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-top: 35px;
    font-weight: 400;
    max-width: 479px;
}
.t_l {
    margin-top: 60px;
}
.part_6 h3 {
    font-size: 62px;
    line-height: 74px;
    color: #f36f23;
    font-family: "Ailerons";
    text-align: center;
}
.part_6 {
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 74px;
    padding-bottom: 74px;
}
.part_7 {
    background-color: #00224f;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 258px;
    padding-bottom: 74px;
    overflow: hidden;
    position: relative;
}
.part_7 h3 {
    font-size: 62px;
    line-height: 74px;
    color: #f36f23;
    font-family: "Ailerons";
}

.part_7 p {
    font-family: "Public Sans";
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-top: 35px;
    font-weight: 400;
    max-width: 479px;
}
.alert-warning,
.alert-success {
    color: #f36f23;
    background-color: #f36f23;
    border-color: #f36f23;
}
.part_7 form {
    max-width: 561px;
    margin: 0 auto;
}
.part_7 form input {
    font-family: "Public Sans";
    font-size: 18px;
    color: #000;
    padding: 15px 24px;
}
.ob {
    position: absolute;
    bottom: -11%;
}
.part_7 form button {
    padding: 15px 20px;
    background: #f36f23;
    font-family: "Public Sans";
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: auto;
    max-width: 178px;
    outline: none;
    border: none;
    color: #fff;
    display: block;
}
.aiz svg {
    margin-right: 10px;
}
.aiz a {
    color: #fff;
    text-decoration: none;
    font-family: "Barlow";
    font-size: 18px;
    line-height: 24px;
}
.no_p {
    padding: 0;
}
.no_p img {
    min-height: 527px;
}
#c_t {
    margin-top: 138px;
}
@media (max-width: 1477px) {
    .heading h1 {
        margin-left: 98px;
        margin-top: 51px;
    }
    .sub_title {
        margin-left: 98px;
    }
    .heading .o {
        width: 51%;
    }
    .no_bg {
        padding-bottom: 82px;
    }
    .part_2 .row {
        padding: 0 150px 0 150px;
    }
    .part_3 .col-8 h3 {
        font-size: 34px;
    }
    .to_t {
        width: 100%;
    }
    .part_5 img:not(.b_o) {
        width: 100%;
    }
    .part_3 .col-8 .col-4 p {
        font-size: 22px;
        line-height: 26px;
    }
    .part_3 img {
        width: 100%;
    }
}
@media (max-width: 1423px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
        padding: 0 calc(37px / 2);
    }
}
@media (max-width: 1399px) {
    #navbar_top {
        padding: 0 35px;
    }
    .part_2 .row {
        padding: 0 45px 0 45px;
    }
    .tt_ {
        margin-top: 45px;
    }
    .part_6 h3 {
        font-size: 52px;
    }
}
@media (max-width: 1386px) {
    .heading .o {
        bottom: -14%;
    }
    .sub_title,
    .part_2 h3,
    .part_3 .col-4 p,
    .t_ p,
    .part_5 p {
        font-size: 20px;
        line-height: 25px;
    }
    .part_3 .col-8 .col-4 p {
        font-size: 16px;
    }
    .top_p {
        font-size: 18px;
    }
    .heading {
        padding: 0 35px;
    }
}
@media (max-width: 1118px) {
    .heading {
        padding: 0;
    }
    .heading h1 {
        font-size: 50px;
        line-height: 70px;
        margin-left: 50px;
        margin-top: 51px;
        margin-bottom: 0;
    }
    .no_p img {
        min-height: 399px;
    }
    .sub_title {
        margin-left: 50px;
        margin-top: 51px;
    }
    .part_2 h2 {
        font-size: 50px;
    }
    .part_2 {
        background-position: center;
    }
    .part_3 h2,
    .part_5 h2,
    .t_ h2 {
        font-size: 50px;
        line-height: 70px;
    }
    .part_3,
    .part_4,
    .part_5,
    .part_6,
    .part_7 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1777px) {
    .b_o {
        width: 250px;
        bottom: -21%;
        right: 0;
    }
}
@media (max-width: 1317px) {
    .b_o {
        /*display: none;*/
    }
    .part_6 h3 {
        font-size: 44px;
    }
}
@media (max-width: 1250px) {
    .b_o {
    }
}
@media (max-width: 900px) {
    .heading .row,
    .part_2 .row,
    .part_3 .row,
    .part_4 .row,
    .part_5 .row,
    .part_6 .row {
        display: block;
    }
    .heading .row:nth-child(1) .col-6 {
        display: block;
        width: 100%;
        min-height: 300px;
        padding-top: 0px;
    }
    .heading .row:nth-child(1) .col-6 .no_p {
        min-height: auto;
    }
    .heading .row .col-6:nth-child(2) {
        padding-top: 30px !important;
        padding-bottom: 30px;
    }
    .part_3 .col-8,
    .part_4 .col-8,
    .part_5 .col-6,
    .part_5 .col-7 {
        display: block;
        width: 100%;
    }
    .part_6 .col-4 {
        width: 100%;
        text-align: center;
    }
    .heading h1 {
        margin-top: 0;
    }
    .heading .o {
        bottom: 3%;
        left: -30%;
    }
    .pad_left {
        padding: 0;
    }
    .part_2 .separator {
        height: 257px;
    }
    .r2 {
        margin-top: 0;
        display: flex !important;
        flex-direction: column-reverse;
    }
    .part_5 .row:nth-child(1) {
        display: flex;
        flex-direction: column-reverse;
    }
    .t_ {
        width: 100%;
    }
    .part_4 {
        background-position: bottom;
    }
    .top_ .row {
        display: flex;
    }
    .part_7 {
        padding-top: 50px;
    }
    .part_7 .row,
    .part_7 .col-4,
    .part_7 .col-8,
    .part_7 p {
        display: block;
        width: 100%;
        text-align: center;
        max-width: none;
        margin-right: 0;
        margin-left: 0;
    }
    .b_o {
        width: 34%;
        bottom: -10%;
    }
    .part_7 .col-8 {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .contac {
        width: 100%;
    }
    #c_t {
        margin-top: 41px;
    }
    .part_3 {
        padding-top: 30px;
    }
}
.part_5 .container {
    overflow: hidden;
}
.back-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    max-width: 30px;
    background: #fff;
    border-radius: 6px;
    display: none;
}
.back-top-btn img {
    width: 100%;
}
.showScrollBtn {
    display: block;
}
@media (max-width: 1650px) {
    .part_3 .col-8 h3 {
        font-size: 35px;
    }
}
@media (max-width: 1480px) {
    .part_3 .col-8 h3 {
        font-size: 30px;
        line-height: 60px;
    }
}
@media (max-width: 1300px) {
    .part_3 .col-8 h3 {
        font-size: 24px;
    }
}
@media (max-width: 1050px) {
    .part_6 .col-4 {
        width: 100%;
        text-align: center;
    }
}
.revealOnScroll {
    opacity: 0;
}
.no_p img {
    width: 100%;
}
@media (max-width: 900px) {
    .heading .row .col-6:nth-child(2) {
        width: 100%;
    }
    .sub_title,
    .part_2 h3,
    .part_3 .col-4 p,
    .t_ p,
    .part_5 p {
        font-size: 18px;
        line-height: 23px;
    }
    .col-6,
    .part_3 .col-4,
    .col-5 {
        width: 100%;
    }
    .part_2 {
        padding-top: 44px;
    }
    .part_7 {
        padding-bottom: 109px;
    }
    .no_p img {
        width: 100%;
        min-height: 300px;
    }

    .top_ .row .col-5 {
        width: 41.66666667%;
    }

    #navbar_top {
        background: #00224f !important;
        margin-top: 0 !important;
        transition: all 0.4s ease;
    }
    #logo {
        filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(110deg)
            brightness(117%) contrast(100%);
        transition: all 0.5s ease-in;
    }
    .heading {
        margin-top: 95px;
    }
    #navbar_top .nav-link {
        color: #fff !important;
    }
    .navbar-toggler {
        filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(110deg)
            brightness(117%) contrast(100%);
        transition: all 0.5s ease-in;
    }
}

@media (max-width: 550px) {
    .heading h1 {
        font-size: 35px;
        line-height: 60px;
        margin-left: 32px;
        margin-top: 51px;
        margin-bottom: 0;
    }
    .top_ .row .col-5 {
        width: 41.66666667%;
    }
    .part_2 h2 {
        font-size: 43px;
    }
    .part_2 h2:nth-child(1) {
        margin-top: 30px;
    }
    .part_3 h2,
    .part_5 h2,
    .t_ h2,
    .contac h3,
    .part_7 h3 {
        font-size: 43px;
        line-height: 63px;
    }
    .part_6 h3 {
        font-size: 35px;
        line-height: 66px;
    }
    .part_7,
    #navbar_top {
        padding-left: 0;
        padding-right: 0;
    }
    .ob {
        right: 0;
        left: 0;
        width: 70%;
        display: block;
        margin: auto;
        bottom: auto;
    }
    .sub_title,
    .part_2 h3,
    .part_3 .col-4 p,
    .t_ p,
    .part_5 p {
        font-size: 17px !important;
    }
    .b_o {
        width: 34%;
        bottom: -7%;
    }
}
@media (max-width: 320px) {
    .heading h1 {
        font-size: 32px;
    }
    .part_6 h3 {
        font-size: 31px;
        line-height: 66px;
    }
    .part_3 h2,
    .part_5 h2,
    .t_ h2,
    .contac h3,
    .part_7 h3 {
        font-size: 36px;
        line-height: 63px;
    }
    #logo {
        max-width: 161px;
    }
    #logo svg {
        width: 100%;
    }
    .t_ p {
        font-size: 14px !important;
    }
}
